{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}


<div class="div-messsage">
    <form method="post">
        <h5>Sujet :</h5>
        <input type="text" name="sujet">
        <h5>Contenu :</h5>
        <textarea name="contenu"></textarea>
        <div class="center">
            <input class="btn btn-envoyer" type="submit" name="submit" value="Envoyer">
        </div>
    </form>
</div>
{% endblock %}
